<!doctype html>
<html lang="ro">
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/index.css"> 
    <title>PlecLaFacultate.ro</title>
</head>
<body>
    <%- include('./partials/header') %> 
    <div class="content-wrapper">
        <form method="post" action="/admin/login" style="margin-top: 200px;">
            <input type="text" name="username" id="username"/>
            <input type="password" name="password" id="password" />
            <input type="submit" value="test"></input>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>