<!doctype html>
<html lang="ro">
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/index.css"> 
    <link rel="stylesheet" href="/css/sectioncomponents.css">
    <title>PlecLaFacultate.ro</title>
</head>
<body>
    <style>
.section-wrapper{
    background-color: white;
    height: 500px;
    width: 100vw;
}
.section-component{
    width: 100%;
    height: 100%;
}
.Col{
    height: 100%;
}
.Col3 {
    display: grid;
    grid-template-columns: 33% auto 33%;
    border:1px solid grey;
}
.col-content-wrapper >*{
    
    width: 100%;
    align-items:center;
    
}
.col-content-wrapper{
    font-size: 1.3em;
    width: 100%;
}
    </style>
    <%- include('./partials/header') %> 
    <div class="content-wrapper">
        <section class="index-first-section landing-section">
            <img class="imgabs1" src="img/landing/landing1.jpg">
            <div class="imgcover1"></div>
            <div class="top-flex unselectable">&nbsp;</div>
            <div class="middle-flex">
                <div class="middle-flex-title">Ai terminat liceul si te gandesti la facultate?</div>
                <div class="middle-flex-desc">Noi iti usuram bagajul de informatii in legatura cu universitatile de la noi din tara.
                </div>
            </div>
            
            <div class="bottom-flex unselectable">
                <div>&nbsp;</div>
                <div class="secondary-flex">
                    <div>
                        <button class="universities-button landing-buttons">
                            Universitati
                        </button>
                    </div>
                    <div>
                        <button class="faculty-finder-button landing-buttons">
                            Gaseste-ti Facultatea
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="section-wrapper">
                <div class="section-component">
                    <div class="Col3 Col">
                        <div class="col-content-wrapper">
<<<<<<< HEAD
                            <img class="imgabs2" src="img/landing/ubb.jpg"/>
=======
>>>>>>> 2e8171f1b4ec6170d1147174c2fec5edcb7a1216
                            <div id="1" class="title">
                                Universitatea Babes-Bolyai
                            </div>
                            <div id="2" class="subtitle">
<<<<<<< HEAD
                                Universitatea Babeș-Bolyai a devenit, în timp, emblema de succes a Clujului și a
                                țării. Este o instituție vie, dinamică și constructivă, bine integrată în societate
                                și cu privirea ațintită spre viitor, pe care poate să-l proiecteze, să-l pregătească
                                și să îl construiască.
=======
                                Universitatea Babeș-Bolyai a devenit, în timp, emblema de succes a Clujului și a țării. Este o instituție vie, dinamică și constructivă, bine integrată în societate și cu privirea ațintită spre viitor, pe care poate să-l proiecteze, să-l pregătească și să îl construiască.
>>>>>>> 2e8171f1b4ec6170d1147174c2fec5edcb7a1216
                            </div>
                        </div>
                        <div class="col-content-wrapper">
                            <div id="3" class="title">Universitatea "Alexndru Ioan Cuza" din Iasi
                            </div>
<<<<<<< HEAD
                            <div id="4" class="subtitle">Misiunea Universităţii „Alexandru Ioan Cuza” din Iaşi este
                                să contribuie la dezvoltarea şi răspândirea cunoaşterii,să educe pentru exercitarea
                                de profesii şi funcţii, în spiritul Adevărului şi Binelui,să păstreze şi să extindă
                                expresiile creaţiei ştiinţifice şi culturale,să promoveze ideile societăţii libere
                                în scopul dezvoltării.
=======
                            <div id="4" class="subtitle">Misiunea Universităţii „Alexandru Ioan Cuza” din Iaşi este să contribuie la dezvoltarea şi răspândirea cunoaşterii,să educe pentru exercitarea de profesii şi funcţii, în spiritul Adevărului şi Binelui,să păstreze şi să extindă expresiile creaţiei ştiinţifice şi culturale,să promoveze ideile societăţii libere în scopul dezvoltării.
>>>>>>> 2e8171f1b4ec6170d1147174c2fec5edcb7a1216
                            </div>
                        </div>
                        <div class="col-content-wrapper">
                            <div id="5" class="title">Universitatea Politehnica din Bucuresti
                            </div>
<<<<<<< HEAD
                            <div id="6" class="subtitle">Universitatea POLITEHNICA din București (U.P.B.) își asumă
                                misiunea de a pregăti specialiști în diferite domenii tehnice, capabili de a utiliza
                                cunoștințe științifice, tehnice și cultural-umaniste valoroase, de a contribui la
                                progresul tehnologic, economic și social-cultural al societății românesti și al
                                lumii contemporane. UPB asigură realizarea unui învățământ de performanță, dezvoltat
                                și perfecționat printr-o complexă activitate de cercetare, continuând tradiția
                                Școlii Politehnice bucureștene, conform exigențelor și cu mijloacele oferite de
                                societatea modernă informațională. Ea își propune să creeze noul profil de
                                universitate tehnică, ce promovează forme de pregătire adaptate cerințelor unei
                                societăți în plină competiție, supusă procesului de integrare în Comunitatea
                                Europeană și internațională.
=======
                            <div id="6" class="subtitle">Universitatea POLITEHNICA din București (U.P.B.) își asumă misiunea de a pregăti specialiști în diferite domenii tehnice, capabili de a utiliza cunoștințe științifice, tehnice și cultural-umaniste valoroase, de a contribui la progresul tehnologic, economic și social-cultural al societății românesti și al lumii contemporane. UPB asigură realizarea unui învățământ de performanță, dezvoltat și perfecționat printr-o complexă activitate de cercetare, continuând tradiția Școlii Politehnice bucureștene, conform exigențelor și cu mijloacele oferite de societatea modernă informațională. Ea își propune să creeze noul profil de universitate tehnică, ce promovează forme de pregătire adaptate cerințelor unei societăți în plină competiție, supusă procesului de integrare în Comunitatea Europeană și internațională.
>>>>>>> 2e8171f1b4ec6170d1147174c2fec5edcb7a1216
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>