<!doctype html>
<html lang="ro">
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/index.css"> 
    <title>PlecLaFacultate.ro</title>
</head>
<body>
    <%- include('./partials/header') %> 
    <div class="content-wrapper">
        <section class="index-first-section landing-section">
            <div class="top-flex unselectable">&nbsp;</div>
            <div class="middle-flex">
                <div class="middle-flex-title">Titl</div>
                <div class="middle-flex-desc">DEsc</div>
            </div>
            <div class="bottom-flex unselectable">
                <div>&nbsp;</div>
                <div class="secondary-flex">
                    <div>
                        <button class="universities-button landing-buttons">
                            Universitati
                        </button>
                    </div>
                    <div>
                        <button class="faculty-finder-button landing-buttons">
                            Gaseste-ti Facultatea
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>