<!doctype html>
<html lang="ro">

<head>
    <%- include('./partials/head') %>
        <link rel="stylesheet" href="/css/uniFinder.css">
        <title>PlecLaFacultate.ro</title>
</head>

<body>
    <%- include('./partials/header') %>
        <div class="content-wrapper">
            <div class="uni-search-container">
                <div class="uni-search-topface">
                    <input class="uni-search-box" type="text" placeholder="Cautare...">
                </div>
                <div class="uni-search-interface">
                    <div class="filters-wrapper">
                        <div class="flexbox-with-select">

                            <div class="results-wrapper">
                                test2
                            </div>
                        </div>
                    </div>
                </div>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                    crossorigin="anonymous"></script>
</body>

</html>