* {
    box-sizing: border-box;
}
body { 
    margin: 0;
    padding: 0;
    min-height: 50vh;
}
.body-wrapper {
    min-height: 100vh !important;
    width: 100vw !important;
    display: flex;
    flex-flow: column;
}
.content-wrapper {
    flex: 1 1 auto;
}

.unselectable {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}