
.landing-section {
    width: 100vw;
    height: 100vh;
}
.index-first-section {
    background-image: url('../img/landing/landing1.jpg');
    height: 100vh;
    display: grid;
    grid-template-rows: 12% auto 20%;
}
.index-first-section > * {
    width: 100%;
}
.index-first-section > .top-flex {
    display: block;
}
.index-first-section > .middle-flex {
    
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.middle-flex-title{
    
}
.middle-flex.desc{
    
}
.index-first-section > .bottom-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: baseline;
}
.index-first-section > .bottom-flex > .secondary-flex {
    width: max-content;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: baseline;
}
.index-first-section > .bottom-flex > .secondary-flex > * {
    margin: 0px 12px;
}
.landing-buttons{
    text-decoration: none;
    border:none;
    color: #333447;
    font-family: 'Exo', sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    padding: 13px 40px ;
    border-radius: 25px;
    background-color: #ffc845;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
